.container {
    height: 770px;
    background-image: linear-gradient(to top right, red, #fff);
}
.satu {
    width: 800px;
    height: 60%;
    margin: auto;
    background-image: radial-gradient(circle at bottom center, white, blue);
}
.dua {
    width: 800px;
    height: 250px;
    background-image: radial-gradient(circle farthest-side at left, white, blue, #fff);
    margin: auto;
}